/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

#main {
  width: 100vw;
  position: relative;

  /* background-color: rgb(224, 221, 221); */
  /* background: linear-gradient(90deg, lightblue, rgb(124, 189, 253)); */
  padding: 0 20px;
  font-family: "Special Elite", Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  font-size: 1.1vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  animation-name: backgroundChange;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes backgroundChange {
  from {
    background: white;
  }
  to {
    background: rgb(224, 221, 221);
  }
}

.top {
  display: flex;
  height: 970px;
  width: 100%;
  position: relative;
}
.mid-section {
  transition: 2s;
  display: none;
  animation-name: example;
  animation-duration: 2s;
}

section.show {
  /* translate: 0px -100vw; */
  display: block;
}

section.hide {
  display: none;
}

header {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* outline: 1px solid red; */
}

.intro {
  width: 65%;
}

.nav-links {
  list-style: none;
  margin-block: 30px;
  transition: all 0.5s;
}

.nav-links:hover,
.social a:hover,
.nav-links:active,
.social a:active {
  transform: scale(1.1);
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.intro {
  display: flex;
  align-items: center;
}

.introMsg-top {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(112, 181, 250);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  height: 220px;
  padding: 30px;
  position: absolute;
  right: -90px;
  bottom: 10%;
  transition: all 0.5s;
}

.social:hover,
.social:active {
  transform: translate(-50px, 0px);
}

.social a {
  transition: all 0.5s;
}

.left-arrow {
  position: absolute;
  right: 75px;
  bottom: 40%;
  background-color: rgb(183, 219, 231);
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.5s;
}

.left-arrow:hover,
.left-arrow:active {
  transform: scale(1.2);
}

#cursor {
  height: 50px;
  width: 50px;
  border-right: 2px solid rgb(183, 219, 231);
}

.mid-section {
  width: 65%;
  position: relative;
  /* top: 35%; */
  right: 0;
  flex-direction: column;
  animation-name: change;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes change {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.article-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 50px;
}

.article {
  display: flex;
  gap: 30px;
}
